body {
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    height: 5vh;
    /* border: 2px solid white; */
    justify-content: space-between;
    margin-bottom: 33px;
}

input {
    width: 350px;
    height: 4.5vh;
    padding-left: 45px;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    align-items: center;
}

input::placeholder {
    color: #000000;
    padding-left: 1px;
}

.searchIcon {
    display: grid;
    position: absolute;
    left: 150px;
    align-items: center;
    margin-top: 3.5px;
}

.login {
    position: relative;
    left: 12px;
    width: 96px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #e6cbcb;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.5s, opacity 0.5s;
    opacity: 0.5;
}

.login a {
    text-decoration: none;
    color: #fff;
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login:hover {
    background-color: transparent;
    opacity: 1;
}

.containerOne {
    display: flex;
    height: 20vh;
    /* border: 2px solid white; */
    margin-top: 15px;
    background: #212121;
}

.frame {
    width: 84px;
    height: 70px;
    /* border: 1px solid salmon; */
    margin: 10px 20.5px;
    align-self: center;
}

.frame a {
    text-decoration: none;
    color: aliceblue;
}

.frame img {
    width: 84px;
    height: 70px;
}

.title {
    font-size: 1.3rem;
    margin: 10px;
}

.containerTwo {
    height: 30vh;
    /* border: 2px solid rgb(255, 255, 255); */
    /* background: #212121; */
   background-image:linear-gradient(to right, rgb(50, 42, 42), rgb(43, 39, 39));
    /* background: linear-gradient(70deg #212121 #4f4646); */
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.groceryHeading {
    position: absolute;
    right: 820px;
    top: 231px;
    font-size: 1.5rem;
    color: rgb(77, 143, 219);
}

.containerTwoFrame img {
    height: 126px;
    width: 150px;
    /* border: 2px solid rgb(211, 110, 110); */
    margin-top: 32px;
}

.appliancesHeading {
    position: absolute;
    position: absolute;
    right: 796px;
    bottom: 190px;
    font-size: 1.5rem;
    color: rgb(77, 143, 219);
}

.smartphoneHeading {
    position: absolute;
    right: 780px;
    top: 652px;
    font-size: 1.5rem;
    color: rgb(77, 143, 219);
}

.toyHeading {
    position: absolute;
    top: 1075px;
    right: 843px;
    font-size: 1.5rem;
    color: rgb(77, 143, 219);
}

.monitorHeading {
    position: absolute;
    top: 864px;
    right: 814px;
    font-size: 1.5rem;
    color: rgb(77, 143, 219);
}

.footer {
    width: 100%;
    height: auto;
    /* border: 2px solid wheat; */
    margin: 2px;
    background: linear-gradient(80deg, rgb(17, 35, 55), rgb(0, 0, 0));
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.footerContainer1 {
    width: auto;
    height: auto;
    /* border: 2px solid #fff; */
    margin: 18px 0px 9px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.link {
    display: grid;
    list-style: none;
    gap: 6px;
    padding: 12px 30px;
}

.link h3 {
    color: rgb(113, 215, 237);
}

.link li a {
    color: #fff;
    text-decoration: none;
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 3px;
    transition: 1s;
}

.link li a:hover {
    transform: scale(1.2);
    color: blanchedalmond;
}

.companyName {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
}

.contact {
    position: relative;
    right: 26px;
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 7px 36px 12px 13px;
}

.contact h3 {
    font-weight: 200;
}

.contact a {
    color: #fff;
    display: flex;
    padding: 0px 7px 0px 6px;
    flex-wrap: wrap;
    text-decoration: none;
}

.follow {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
}

.follow h3 {
    font-weight: 300;
    margin-right: 10px;
}

.follow a {
    color: #fff;
    text-decoration: none;
    display: flex;
    transition: 1s;
}

.follow a:hover {
    transform: scale(1.2);
    font-size: 1.5rem;
    color: bisque;
}